@use "../component/var" as *;
@use "../component/mixin" as *;

.about {
    margin: 4rem 0;
    padding: 15rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    background: url("../images/about/about-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
        font-size: 5rem;
    }
    &-content {
        font-family: $primary-font;
    }
    &-title-sub {
        font-weight: 600;
        color: $dark-color;
        font-family: serif;
        font-size: 2rem;
        font-family: $primary-font;
    }
    p {
        font-family: serif;
        font-size: 1.6rem;
    }
}